---
import magnolia from '@/lib/magnolia'
import Layout from '@/components/Layout.astro'
import CallToAction from '@/components/CallToAction.astro'
import Hero from './Hero.astro'
import Platform from './Platform.astro'
import Industries from './Industries.astro'
import Partners from './Partners.astro'
import Newsletter from './Newsletter.astro'
import Testimonials from './Testimonials.astro'

const { tagline, title, description, hook } = await magnolia.get(
  '/pages/home',
  { lang: Astro.currentLocale! }
)
---

<Layout description={description} overlay>
  <Hero tagline={tagline} title={title} description={description} />
  <div class="my-24 px-5 sm:px-10 lg:px-13">
    <p
      class:list={[
        'max-w-prose mx-auto text-center text-2xl text-balance italic',
        'text-orange-600 xl:text-3xl'
      ]}
    >
      {hook}
    </p>
  </div>
  <Platform />
  <Industries />
  <Testimonials />
  <Partners />
  <CallToAction />
  <Newsletter />
</Layout>
