---
import magnolia from '@/lib/magnolia'
import { getLocalePath } from '@/lib/utils'
import Image from '@/components/Image'

interface Benefit {
  icon: string
  description: string
}

const currentLocale = Astro.currentLocale!

const { t } = Astro.locals

const [{ image, tagline, title, description }, benefits] = await Promise.all([
  magnolia.get('/pages/home/partners', { lang: currentLocale }),
  magnolia.get<Benefit[]>('/pages/home/partners/benefits/@nodes', {
    lang: currentLocale
  })
])
---

<section class="bg-neutral-200 lg:grid lg:grid-cols-2">
  <Image
    class="size-full object-cover rounded-tr-2xl hidden lg:block"
    data={image}
  />
  <div
    class:list={[
      'py-10 px-5 flex flex-col items-start text-lg sm:p-10 xl:py-11',
      'xl:px-13'
    ]}
  >
    <hgroup>
      <p
        class:list={[
          'w-fit py-2.5 px-5 rounded bg-orange-600 leading-tight text-white',
          'uppercase xl:text-xl'
        ]}
      >
        {tagline}
      </p>
      <h2 class="max-w-xl mt-8 mb-9 font-bold text-3xl xl:text-5xl">
        {title}
      </h2>
    </hgroup>
    <p>{description}</p>
    <h3 class="mt-13 mb-6 text-orange-600 uppercase">{t['benefits']}</h3>
    <ul class="mb-15 grid gap-7 leading-tight">
      {
        benefits.map(({ icon, description }) => (
          <li class="flex items-center gap-3">
            <Image class="size-11 object-contain" src={icon} />
            {description}
          </li>
        ))
      }
    </ul>
    <a
      class:list={[
        'py-2.5 px-5 ring ring-inset rounded text-orange-600 leading-none',
        'transition-colors hover:text-red-800'
      ]}
      href={getLocalePath(Astro.currentLocale!, 'partners#form')}
    >
      {t['lets_do_business']}
    </a>
  </div>
</section>
